# IBM Applied Data Science Capstone Course by Coursera

#### Week 3 Part 1
- Build a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name in Toronto.

#### 1. Import libraries

In [3]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation



!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/0c/67/915668d0e286caa21a1da82a85ffe3d20528ec7212777b43ccd027d94023/geopy-2.1.0-py3-none-any.whl (112kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0
Collecting folium==0.5.0
  Downloading https://files.pythonhosted.org/packages/07/37/456fb3699ed23caa0011f8b90d9cad94445eddc656b601e6268090de35f5/folium-0.5.0.tar.gz (79kB)
Collecting branca (from folium==0.5.0)
  Downloading https://files.pythonhosted.org/packages/61/1f/570b0615c452265d57e4114e633231d6cd9b9d275256778a675681e4f711/branca-0.4.2-py3-none-any.whl
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from folium==0.5.0) (2.10.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium==0.5.0) (2.22.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from folium==0.5.0) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->folium==0.5.0) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium==0.5.0) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium==0.5.0) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium==0.5.0) (2.8)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py): started
  Building wheel for folium (setup.py): finished with status 'done'
  Created wheel for folium: filename=folium-0.5.0-cp37-none-any.whl size=76257 sha256=b4d6b957423aa68b3e940fe54a0e55d41cff479624b12d78887b477d19f2e8b0
  Stored in directory: C:\Users\KINGFISH\AppData\Local\pip\Cache\wheels\f8\98\ff\954791afc47740d554f0d9e5885fa09dd60c2265d42578e665
Successfully built folium
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.5.0
Folium installed
Libraries imported.

In [24]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

#### 2. Scrap data from Wikipedia page into a DataFrame

In [25]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [26]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [27]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [29]:
#Using BeautifulSoup

# find the table
soup.find('table').find_all('tr')

# find all the rows of the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [35]:
# append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [36]:

# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode             Borough               Neighborhood
0      M1A\n      Not assigned\n               Not assigned
1      M2A\n      Not assigned\n               Not assigned
2      M3A\n        North York\n                  Parkwoods
3      M4A\n        North York\n           Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront

In [43]:
toronto_df['PostalCode'] = toronto_df['PostalCode'].str.replace('\n','')
toronto_df['Borough'] = toronto_df['Borough'].str.replace('\n','')
toronto_df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

#### 3. Drop cells with a borough that is "Not assigned"

In [44]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### 4. Group neighborhoods in the same borough

In [45]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode      Borough                                       Neighborhood
0        M1B  Scarborough   Malvern, Rouge, Malvern, Rouge\n, Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek, Rouge ...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                           Woburn, Woburn\n, Woburn
4        M1H  Scarborough                  Cedarbrae, Cedarbrae\n, Cedarbrae

#### 5. For Neighborhood="Not assigned", make the value the same as Borough

In [46]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped.head()

  PostalCode      Borough                                       Neighborhood
0        M1B  Scarborough   Malvern, Rouge, Malvern, Rouge\n, Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek, Rouge ...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                           Woburn, Woburn\n, Woburn
4        M1H  Scarborough                  Cedarbrae, Cedarbrae\n, Cedarbrae

#### 6. Check whether it is the same as required by the question

In [47]:

# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,"Central Bay Street, Central Bay Street\n, Cent..."
1,M2H,North York,"Hillcrest Village, Hillcrest Village\n, Hillcr..."
2,M4B,East York,"Parkview Hill, Woodbine Gardens, Parkview Hill..."
3,M1J,Scarborough,"Scarborough Village, Scarborough Village\n, Sc..."
4,M4G,East York,"Leaside, Leaside\n, Leaside"
5,M4M,East Toronto,"Studio District, Studio District\n, Studio Dis..."
6,M1R,Scarborough,"Wexford, Maryvale, Wexford, Maryvale\n, Wexfor..."
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,"Humber Summit, Humber Summit\n, Humber Summit"
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge, Malvern, Rouge\n, Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront, Regent Park, Harbou..."

#### 7. Finally, print the number of rows of the cleaned dataframe

In [48]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(103, 3)